<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="mmp_panda">
		<model dir="./resources" path="mmp_panda.urdf" name="mmp_panda" />
	</robot>

	<static_object name="mailtruck">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="-3.0 0 0" rpy="0 0 1.57" />
	        <geometry>
	            <mesh filename="./resources/../../../model/project_models/mailtruck.obj" scale="1.5 1.5 1.5"/>
	        </geometry>
	        <material>
	        	<texture filename="./resources/../../../model/project_models/mailtruck.mtl"/>
    		</material>
	    </visual>
	</static_object>

	<static_object name="mailbox">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="1.57 0 3.14159" />
	        <geometry>
	            <mesh filename="./resources/../../../model/project_models/mailbox.obj" scale="1.0 1.0 1.0"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="cat">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="1.7 1.5 0" rpy="1.57 0 0" />
	        <geometry>
	            <mesh filename="./resources/../../../model/project_models/cat.obj" scale=".7 .7 .7"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="big_house">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="4 4 0" rpy="1.57 0 0" />
	        <geometry>
	            <mesh filename="./resources/../../../model/project_models/big_house.obj" scale=".009 .009 .009"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="tree">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 2.5 0" rpy="1.7 0 0" />
	        <geometry>
	            <mesh filename="./resources/../../../model/project_models/tree.obj" scale=".2 .2 .2"/>
	        </geometry>
	    </visual>
	</static_object>

	<light name="light1" type="directional">
		<position xyz="4.0 4.0 4.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="-4.0 -4.0 4.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="6.0 -3.4 3.0" /> 
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</camera>

</world>
