<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

    <robot name="mmp_panda">
        <model dir="./resources" path="mmp_panda.urdf" name="mmp_panda" />
    </robot>

    <robot name="letter1">
        <model dir="./resources" path="box1.urdf" name="letter" />
        <origin xyz="-0.55 0 1.8" rpy="-1.57 1.57 0" />
    </robot>

    <robot name="letter2">
        <model dir="./resources" path="box2.urdf" name="letter" />
        <origin xyz="-0.55 -0.35 1.8" rpy="-1.57 1.57 0" />
    </robot>

    <robot name="letter3">
        <model dir="./resources" path="box3.urdf" name="letter" />
        <origin xyz="-0.55 -0.7 1.8" rpy="-1.57 1.57 0" />
    </robot>

    <robot name="mailbox1">
        <model dir="./resources" path="mailbox.urdf" name="mailbox" />
        <origin xyz="6.26 1.1 -1.22" rpy="1.57 0 -1.57" />
    </robot>

    <robot name="mailbox2">
        <model dir="./resources" path="mailbox.urdf" name="mailbox" />
        <origin xyz="12.26 1.1 -1.22" rpy="1.57 0 -1.57" />
    </robot>

    <robot name="mailbox3">
        <model dir="./resources" path="mailbox.urdf" name="mailbox" />
        <origin xyz="18.26 1.1 -1.22" rpy="1.57 0 -1.57" />
    </robot>

    <!-- <static_object name="mailbox">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="6 1 -0.3" rpy="1.57 0 -1.57" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/mailbox.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
    </static_object> -->

    <static_object name="boxfloor_3">
        <collision>
        <origin xyz="12.1 0.7 0.621" rpy="0 0 0" />
        <geometry>
          <box size="0.3 0.5 0.005" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxwall1_3">
        <collision>
        <origin xyz="12.01 0.7 0.69" rpy="0 0 0" />
        <geometry>
          <box size="0.005 0.5 0.3" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxwall2_3">
        <collision>
        <origin xyz="12.24 0.7 0.69" rpy="0 0 0" />
        <geometry>
          <box size="0.005 0.6 0.3" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxfloor_2">
        <collision>
        <origin xyz="18.1 0.7 0.621" rpy="0 0 0" />
        <geometry>
          <box size="0.3 0.5 0.005" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxwall1_2">
        <collision>
        <origin xyz="18.01 0.7 0.69" rpy="0 0 0" />
        <geometry>
          <box size="0.005 0.5 0.3" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxwall2_2">
        <collision>
        <origin xyz="18.24 0.7 0.69" rpy="0 0 0" />
        <geometry>
          <box size="0.005 0.6 0.3" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxfloor">
        <collision>
        <origin xyz="6.1 0.7 0.621" rpy="0 0 0" />
        <geometry>
          <box size="0.3 0.5 0.005" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxwall1">
        <collision>
        <origin xyz="6.01 0.7 0.69" rpy="0 0 0" />
        <geometry>
          <box size="0.005 0.5 0.3" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="boxwall2">
        <collision>
        <origin xyz="6.24 0.7 0.69" rpy="0 0 0" />
        <geometry>
          <box size="0.005 0.6 0.3" />
        </geometry>
        </collision>
    </static_object>

    <static_object name="road">
        <visual>
        <origin xyz="0 -2 -0.27" rpy="0 0 0" />
        <geometry>
          <box size="100 5 0.05" />
        </geometry>
        <material name="material_gray">
            <color rgba=".25 .25 .25 1.0" />
        </material>
        </visual>
    </static_object>

    <static_object name="sidewalk1">
        <visual>
        <origin xyz="0 0.8 -0.2" rpy="0 0 0" />
        <geometry>
          <box size="100 0.9 0.07" />
        </geometry>
        <material name="material_gray">
            <color rgba=".45 .45 .45 1.0" />
        </material>
        </visual>
    </static_object>

    <static_object name="sidewalk2">
        <visual>
        <origin xyz="0 -4.5 -0.2" rpy="0 0 0" />
        <geometry>
          <box size="100 1 0.07" />
        </geometry>
        <material name="material_gray">
            <color rgba=".45 .45 .45 1.0" />
        </material>
        </visual>
    </static_object>

    <static_object name="grass">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="20 5.5 -0.25" rpy="1.57 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/grass.obj" scale="1 1 1"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="grass2">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="20 -9.5 -0.25" rpy="1.57 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/grass.obj" scale="1 1 1"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="cat">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="5 -6.7 1.1" rpy="1.97 0.0 3.1416" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/cat.obj" scale=".5 .5 .5"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="cat2">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="18.13 1 0.9" rpy="1.57 0.0 0.0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/cat.obj" scale=".5 .5 .5"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="big_house">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="4 4 0" rpy="1.57 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/bighouse.obj" scale=".009 .009 .009"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="big_house2">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="10 4 0" rpy="1.57 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/bighouse2.obj" scale=".009 .009 .009"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="big_house3">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="16 4 0" rpy="1.57 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/bighouse3.obj" scale=".009 .009 .009"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="big_house4">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="5 -8 0" rpy="1.57 0 3.1416" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/bighouse3.obj" scale=".009 .009 .009"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="big_house5">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="14 -8 0" rpy="1.57 0 3.1416" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/bighouse.obj" scale=".009 .009 .009"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="big_house6">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="22 -8 0" rpy="1.57 0 3.1416" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/bighouse2.obj" scale=".009 .009 .009"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="tree">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="0 2.5 0" rpy="1.7 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/tree.obj" scale=".3 .3 .3"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="tree2">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="9 -11 0" rpy="1.7 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/tree.obj" scale=".5 .5 .5"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="tree3">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="0 -10 0" rpy="1.7 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/tree.obj" scale=".45 .45 .45"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name="tree4">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="27 -9 0" rpy="1.7 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/project_models/tree.obj" scale=".35 .35 .35"/>
            </geometry>
        </visual>
    </static_object>

    <light name="light1" type="directional">
        <position xyz="4.0 4.0 4.0" />
        <lookat xyz="0.0 0.0 0.0" />
    </light>

    <light name="light2" type="directional">
        <position xyz="-4.0 -4.0 4.0" />
        <lookat xyz="0.0 0.0 0.0" />
    </light>

    <camera name="camera_fixed">
        <!-- this is good for seeing full car <position xyz="6.4 2 1.5" /> -->

        <!-- this is good for seeing close up of arm -->
        <!-- <position xyz="5 1 1" /> -->
        <!--  <position xyz="0 2 1" /> -->
        <position xyz= "-1 1 1" />
        <vertical xyz="0.0 0.0 1.0" />
        <!-- <lookat xyz="6.0 0.0 0.5" /> -->
        <lookat xyz="0 0.0 0.5" />
    </camera>

</world>
